.newsletter-container {
    background-color: #d84328;
    padding: 20px;
}

.newsletter-container p {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.newsletter-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-control {
    border-radius: 0;
}

.btn-danger {
    border-radius: 0;
}
.subscribe-btn{
    margin-left: 50px;
    text-align: center;
    width:140px;
}
.subscribe-btn:hover{
    color: white;
    background-color: #d84328;
}
.footer li a{
    color: white !important;
}
/* fooetr-end */
/* footer */
.footer{
    background-color: #4a4a4a;
    color:black;
    padding-top: 10px;
}
.footer-logo{
    width: 120px;
    height: 60px;
    text-align: center;
}
.footer a,li{
    list-style: none;
    text-decoration: none;
    color: black;
}
.footer h4{
    border-bottom: 3px solid red;
    padding-bottom: 5px;
    width: auto;
}
.footer .fa-brands{
    padding: 5px;
    margin-bottom: 10px;
}
.btn-primarynewsletter{
    background-color: red ;
    color:black;
    font-weight: 600;
    width: 180px;
    
}
.btn-primarynewsletter:hover{
     background-color: brown ;
    
}
.footer-heading{
    /* text-align: center; */
    color: white;
}
/* footer/end */